apiVersion: charts.helm.k8s.io/v1
kind: Xl
metadata:
  name: xl-release
  namespace: turbonomic
spec:
  servicenow:
    enabled: true
  websphere:
    enabled: true
  jvm:
    enabled: true
  actionscript:
    enabled: true
  xen:
    enabled: false
  mysql:
    enabled: true
  global:
    customImageNames: false
    repository: icr.io/cpopen/turbonomic
    storageClassName: {{ STORAGE_CLASS_LARGE_BLOCK }}
    storageSelector: false
    tag: {{ current_feature.turbo_version }}
  tomcat:
    enabled: true
  grafana:
    adminPassword: vmturbo
    enabled: true
    grafana.ini:
      database:
        password: vmturbo
        type: postgres
  properties:
    extractor:
      grafanaAdminPassword: vmturbo
  postgres:
    enabled: true
  timescaledb:
    enabled: true
  extractor:
    enabled: true
  reporting:
    enabled: true
  powervm:
    enabled: true
  netapp:
    enabled: true
  hyperflex:
    enabled: true
  ucs:
    enabled: true
  udt:
    enabled: true
  kafka:
    persistence:
      size: 30Gi
  mssql:
    enabled: true
  rsyslog:
    persistence:
      size: 30Gi
  nutanix:
    enabled: true
  weblogic:
    enabled: false
  prometheus:
    enabled: false
  hyperv:
    enabled: true
  vcenter:
    enabled: true
  hpe3par:
    enabled: true
  oneview:
    enabled: true
  vmax:
    enabled: true
  instana:
    enabled: true
  azure:
    enabled: true
  actionstream-kafka:
    enabled: false
  scaleio:
    enabled: false
  kubeturbo:
    enabled: true
  wmi:
    enabled: true
  newrelic:
    enabled: true
  gcp:
    enabled: true
  appdynamics:
    enabled: true
  vmm:
    enabled: true
  webhook:
    enabled: true
  jboss:
    enabled: true
  pure:
    enabled: true
  prometurbo:
    enabled: true
  ibmstorage-flashsystem:
    enabled: true
  horizon:
    enabled: true
  appinsights:
    enabled: true
  dynatrace:
    enabled: true
  aws:
    enabled: true
  openshiftingress:
    enabled: true
  db:
    persistence:
      size: 30Gi
  snmp:
    enabled: true
  oracle:
    enabled: true
