apiVersion: charts.helm.k8s.io/v1
kind: Xl
metadata:
  name: xl-release
  namespace: turbonomic
spec:
  global:
    customImageNames: false
    repository: icr.io/cpopen/turbonomic
    storageClassName: {{ STORAGE_CLASS_LARGE_BLOCK }}
    storageSelector: false
    tag: {{ current_feature.turbo_version }}
    securityContext:
      fsGroup: {{ FS_GROUP }}
    turboLite:
      enabled: false
  kafka:
    persistence:
      size: 30Gi
  rsyslog:
    persistence:
      size: 30Gi
  instana:
    enabled: true
  kubeturbo:
    enabled: true
  openshiftingress:
    enabled: true
  nginx:
    nginxIsPrimaryIngress: false
    httpsRedirect: false
  nginxingress:
    enabled: true
