---
apiVersion: "acid.zalan.do/v1"
kind: postgresql
metadata:
  name: postgres
spec:
  dockerImage: ghcr.io/zalando/spilo-15:2.1-p9
  teamId: instana
  numberOfInstances: 3
  spiloRunAsUser: 101
  spiloFSGroup: 103
  spiloRunAsGroup: 103
  patroni:
    pg_hba:
      - local     all          all                            trust
      - host      all          all          0.0.0.0/0         trust
      - local     replication  standby                        trust
      - hostssl   replication  standby      all               trust
      - hostnossl all          all          all               reject
      - hostssl   all          all          all               trust
  postgresql:
    version: "14"
    parameters:  # Expert section
      max_connections: "500"
      shared_buffers: "32MB"
  volume:
    size: 10Gi
    storageClass: {{ AIOPS_STORAGE_CLASS_LARGE_BLOCK }}
  resources:
    requests:
      cpu: 500m
      memory: 2Gi
    limits:
      cpu: 1000m
      memory: 4Gi