apiVersion: instana.io/v1alpha1
kind: Datastores
metadata:
  name: instana-datastores
spec:
  imagePullSecrets:
    - name: instana-registry
  cassandra:
    - name: "default"
      authEnabled: false
      pvcConfig:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 200Gi
        storageClassName: {{ AIOPS_STORAGE_CLASS_FILE }}
  clickhouse:
    - name: "default"
      authEnabled: false
      resources:
        limits:
          cpu: '2'
          memory: 12Gi
        requests:
          cpu: '1'
          memory: 1Gi
      pvcConfig:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 200Gi
        storageClassName: {{ AIOPS_STORAGE_CLASS_FILE }}
      zookeeper:
        pvcConfig:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 200Gi
          storageClassName: {{ AIOPS_STORAGE_CLASS_FILE }}
  elasticsearch:
    name: "default"
    authEnabled: false
    pvcConfig:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 200Gi
      storageClassName: {{ AIOPS_STORAGE_CLASS_FILE }}
  kafka:
    name: "default"
    authEnabled: false
    pvcConfig:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 200Gi
      storageClassName: {{ AIOPS_STORAGE_CLASS_FILE }}
    zookeeper:
      pvcConfig:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 200Gi
        storageClassName: {{ AIOPS_STORAGE_CLASS_FILE }}
  postgres:
    - name: "default"
      authEnabled: false
      pvcConfig:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 200Gi
        storageClassName: {{ AIOPS_STORAGE_CLASS_FILE }}
