apiVersion: v1
kind: Secret
type: Generic
metadata:
  name: instana-datastores
stringData:
  config.yaml: |
    cassandra:
      - name: default
        adminUser: cassandra_user
        adminPassword: cassandra_verycomplicatedandlongpassword
    clickhouse:
      - name: default
        adminUser: clickhouse_user
        adminPassword: clickhouse_verycomplicatedandlongpassword
    elasticsearch:
      name: default
      adminUser: elasticsearch_user
      adminPassword: elasticsearch_verycomplicatedandlongpassword
    kafka:
      name: default
      adminUser: kafka_user
      adminPassword: kafka_pass
    postgres:
      - name: default
        adminUser: postgres_user
        adminPassword: postgres_verycomplicatedandlongpassword