kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: 'instana-core:openshift:scc:anyuid'
  namespace: instana-core
subjects:
  - kind: ServiceAccount
    name: instana-core
    namespace: instana-core
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: 'system:openshift:scc:anyuid'
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: 'instana-core:openshift:scc:privileged'
  namespace: instana-datastores
subjects:
  - kind: ServiceAccount
    name: instana-core
    namespace: instana-core
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: 'system:openshift:scc:privileged'
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: 'instana-core:openshift:scc:hostmount-anyuid'
  namespace: instana-datastores
subjects:
  - kind: ServiceAccount
    name: instana-core
    namespace: instana-core
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: 'system:openshift:scc:hostmount-anyuid'
---
apiVersion: instana.io/v1beta2
kind: Core
metadata:
  name: instana-core
  namespace: instana-core
spec:
  imagePullSecrets:
    - name: instana-registry
  operationScopes:
    - core
    - global
  operationMode: normal
  featureFlags:
    - name: feature.logging.enabled
      enabled: true
    - name: feature.beeinstana.enabled
      enabled: true
    - name: feature.beeinstana.infra.metrics.enabled
      enabled: true
    - name: feature.infra.explore.presentation.enabled
      enabled: true
    - name: feature.vsphere.enabled
      enabled: true
    - name: feature.automation.enabled
      enabled: true
    - name: feature.action.automation.enabled
      enabled: true
    - name: feature.phmc.enabled
      enabled: true
    - name: feature.powervc.enabled
      enabled: true
  agentAcceptorConfig:
    host: agent.{{BASE_DOMAIN}}
    port: 443
  properties:
    - name: retention.metrics.rollup5
      value: '86400'
    - name: retention.metrics.rollup60
      value: '2678400'
    - name: retention.metrics.rollup300
      value: '8035200'
    - name: retention.metrics.rollup3600
      value: '34214400'
    - name: config.appdata.shortterm.retention.days
      value: '7'
  baseDomain: {{BASE_DOMAIN}}
  storageConfigs:
    rawSpans:
      pvcConfig:
        accessModes:
          - ReadWriteMany
        resources:
          requests:
            storage: 300Gi
        storageClassName: {{ AIOPS_STORAGE_CLASS_FILE }}
  datastoreConfigs:
    beeInstanaConfig:
      hosts:
        - aggregators.instana-datastores
      clustered: true
    cassandraConfigs:
      - hosts:
          - instana-cassandra-service.instana-datastores.svc
        ports:
          - name: tcp
            port: 9042
        authEnabled: true
    clickhouseConfigs:
      - clusterName: local
        hosts:
          - chi-instana-cluster-0-0.instana-datastores.svc
          - chi-instana-cluster-0-1.instana-datastores.svc
        ports:
          - name: tcp
            port: 9000
          - name: http
            port: 8123
        schemas:
          - application
          - logs
    elasticsearchConfig:
      clusterName: onprem_onprem
      defaultIndexReplicas: 0
      defaultIndexRoutingPartitionSize: 1
      defaultIndexShards: 5
      hosts:
        - instana-es-default.instana-datastores.svc
      ports:
        - name: tcp
          port: 9300
        - name: http
          port: 9200
    kafkaConfig:
      hosts:
        - instana-kafka-bootstrap.instana-datastores.svc
      ports:
        - name: tcp
          port: 9092
      replicationFactor: 1
      saslMechanism: PLAIN
    postgresConfigs:
      - databases:
          - butlerdb
          - tenantdb
          - sales
        hosts:
          - postgres.instana-datastores.svc
        ports:
          - name: tcp
            port: 5432
        authEnabled: true
  enableNetworkPolicies: false
  resourceProfile: {{current_ibmaiops_feature.instana_size  | default("medium")}}
  imageConfig: {}
  emailConfig:
    smtpConfig:
      check_server_identity: false
      from: smtp@example.com
      host: smtp.example.com
      port: 465
      startTLS: false
      useSSL: true
