adminPassword: {{current_admin_pass}}
storageConfigs:
  rawSpans:
    pvcConfig:
      accessModes:
        - ReadWriteMany
      resources:
        requests:
          storage: 300Gi
      storageClassName: {{ STORAGE_CLASS_FILE }}
  synthetics:
    pvcConfig:
      accessModes:
        - ReadWriteMany
      resources:
        requests:
          storage: 300Gi
      storageClassName: {{ STORAGE_CLASS_FILE }}
  syntheticsKeystore:
    pvcConfig:
      accessModes:
        - ReadWriteMany
      resources:
        requests:
          storage: 300Gi
      storageClassName: {{ STORAGE_CLASS_FILE }}
datastoreConfigs:
  postgresConfigs:
    - databases:
        - butlerdb
        - tenantdb
        - sales
      user: instanaadmin
      password: mysupersecretpassword 
      adminUser: instanaadmin
      adminPassword: mysupersecretpassword
  clickhouseConfigs:
    - databases:
        - application
        - logs
      user: clickhouse-user
      password: HmiI9DgEgrHVmjnS
      adminUser: clickhouse-user
      adminPassword: HmiI9DgEgrHVmjnS
  cassandraConfigs:
    - user: instana-superuser
      password: {{ CASSANDRA_PWD }}
      adminUser: instana-superuser
      adminPassword: {{ CASSANDRA_PWD }}
  kafkaConfig:
      adminUser: strimzi-kafka-user
      adminPassword: {{ KAFKA_PWD }}
      consumerUser: strimzi-kafka-user
      consumerPassword: {{ KAFKA_PWD }}
      producerUser: strimzi-kafka-user
      producerPassword: {{ KAFKA_PWD }}
imagePullSecrets:
  - name: instana-registry
downloadKey: {{current_agent_key}}
repositoryPassword: {{current_agent_key}}
salesKey: {{current_sales_key}}
tokenSecret: uQOkH+Y4wU_0
# SAML/OIDC configuration

