kind: ConfigMap
apiVersion: v1
metadata:
  annotations:
    hdm.ibm.com/lastknownstate: 839214458f48b2157f6b8bc58711871a
  resourceVersion: '4034694'
  name: evtmanager-impactgui-config
  uid: ee6de7c7-9e75-48e6-b347-1ef34523f8e6
  creationTimestamp: '2023-05-10T08:07:47Z'
  managedFields:
    - manager: manager
      operation: Update
      apiVersion: v1
      time: '2023-05-10T08:07:47Z'
      fieldsType: FieldsV1
      fieldsV1:
        'f:data':
          .: {}
          'f:impactgui-log4j-props-update': {}
          'f:server-props-update': {}
        'f:metadata':
          'f:annotations':
            .: {}
            'f:hdm.ibm.com/lastknownstate': {}
          'f:labels':
            'f:helm.sh/chart': {}
            'f:hdm.ibm.com/lastreconciled': {}
            'f:app.kubernetes.io/managed-by': {}
            'f:hdm.ibm.com/resourceowner': {}
            'f:app.kubernetes.io/name': {}
            .: {}
            'f:hdm.ibm.com/chartversion': {}
            'f:release': {}
            'f:app.kubernetes.io/instance': {}
          'f:ownerReferences':
            .: {}
            'k:{"uid":"c3e19346-f37f-46e6-8b2d-9183d11b2fae"}': {}
  namespace: ibm-aiops-evtmgr
  ownerReferences:
    - apiVersion: noi.ibm.com/v1beta1
      kind: NOIFormation
      name: evtmanager
      uid: c3e19346-f37f-46e6-8b2d-9183d11b2fae
      controller: true
      blockOwnerDeletion: true
  labels:
    app.kubernetes.io/instance: evtmanager
    app.kubernetes.io/managed-by: Tiller
    app.kubernetes.io/name: impactgui
    hdm.ibm.com/chartversion: 1.6.6
    hdm.ibm.com/lastreconciled: 2023-05-10-08-19-14-615269171-0000-UTC-m-757-382204293
    hdm.ibm.com/resourceowner: evtmanagernoi-ibm-com-v1beta1
    helm.sh/chart: impactgui
    release: evtmanager
data:
  impactgui-log4j-props-update: ''
  server-props-update: ''
