apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: ibmaiops-operator-group
  namespace: {{ current_ibmaiops_cluster.project }}
spec:
  targetNamespaces:
    - {{ current_ibmaiops_cluster.project }}