apiVersion: instana.io/v1
kind: InstanaAgent
metadata:
  name: instana-agent
  namespace: instana-agent
spec:
  zone:
    name: instana-aiops
  cluster:
      name: Demo-OpenShift
  openshift: true
  agent:
    key: {{current_agent_key}}
    endpointHost: agent.{{BASE_DOMAIN}}
    endpointPort: "443"
    env: 
      AWS_ACCESS_KEY_ID: changeme
      AWS_SECRET_ACCESS_KEY: changeme 
      INSTANA_AWS_REGION_CONFIG: eu-central-1 
    configuration_yaml: |
      # Host
      com.instana.plugin.host:
        tags:
          - 'dev'
          - 'aiops'
          - 'openshift'
      com.instana.plugin.azure:
        enabled: true
        subscription: YourSubscriptionID
        tenant: YourDirectoryTenantID
        principals:
          - id: YourApplicationClientID
            secret: YourSecretValue
      com.instana.plugin.action:
        enabled: true # by default is false
      com.instana.plugin.action.script:
        enabled: true # by default is false
