
---
apiVersion: beeinstana.instana.com/v1beta1
kind: BeeInstana
metadata:
  name: instance
  namespace: beeinstana
spec:
  version: 1.3.13
  adminCredentials:
    secretName: beeinstana-admin-creds
  kafkaSettings:
    brokers:
      # Update KAFKA_NAMESPACE to the namespace where Kafka is installed
      - instana-kafka-bootstrap.<KAFKA_NAMESPACE>:9092
    securityProtocol: SASL_PLAINTEXT
    saslMechanism: SCRAM-SHA-512
    saslPasswordCredential:
      secretName: beeinstana-kafka-creds
  config:
    cpu: 200m
    memory: 200Mi
    replicas: 1
  ingestor:
    cpu: 8
    memory: 4Gi
    limitMemory: true
    env: on-prem
    metricsTopic: raw_metrics
    replicas: 1
  aggregator:
    cpu: 4
    memory: 16Gi
    limitMemory: true
    mirrors: {{current_feature.instana_beeinstana_mirrors  | default("2")}}
    shards: 1
    volumes:
      live:
        size: 2000Gi
        # Replace <storage_class> with your own storage class in the following line.
        storageClass: {{ STORAGE_CLASS_LARGE_BLOCK }}
  # Should set useMultiArchImages to true for s390x and ppc64le
  useMultiArchImages: false