 apiVersion: "clickhouse-keeper.altinity.com/v1"
 kind: "ClickHouseKeeperInstallation"
 metadata:
   name: clickhouse-keeper
   namespace: instana-datastores
 spec:
   configuration:
     clusters:
       - name: "local"
         layout:
           replicasCount: {{current_feature.instana_backend_scale  | default(3)}}
     settings:
         logger/level: "information"
         logger/console: "true"
         listen_host: "0.0.0.0"
         keeper_server/snapshot_storage_path: /var/lib/clickhouse-keeper/coordination/snapshots/store
         keeper_server/log_storage_path: /var/lib/clickhouse-keeper/coordination/logs/store
         keeper_server/storage_path: /var/lib/clickhouse-keeper/
         keeper_server/tcp_port: "2181"
         keeper_server/four_letter_word_white_list: "*"
         keeper_server/coordination_settings/raft_logs_level: "information"
         keeper_server/raft_configuration/server/port: "9444"
         prometheus/endpoint: "/metrics"
         prometheus/port: "7000"
         prometheus/metrics: "true"
         prometheus/events: "true"
         prometheus/asynchronous_metrics: "true"
         prometheus/status_info: "false"
         zookeeper/node/host: "localhost"
         zookeeper/node/port: "9181"
   templates:
     podTemplates:
       - name: clickhouse-keeper
         spec:
           containers:
             - name: clickhouse-keeper
               imagePullPolicy: IfNotPresent
               image: artifact-public.instana.io/clickhouse-openssl:24.3.12.75-1-lts-ibm
               command:
                 - clickhouse-keeper
                 - --config-file=/etc/clickhouse-keeper/keeper_config.xml
               resources:
                 requests:
                   memory: "1Gi"
           imagePullSecrets:
             - name: instana-registry
           securityContext:
             fsGroup: 0
             runAsGroup: 0
             runAsUser: 1001
           initContainers:
             - name: server-id-injector
               imagePullPolicy: IfNotPresent
               image:  artifact-public.instana.io/clickhouse-openssl:24.3.12.75-1-lts-ibm
     volumeClaimTemplates:
       - name: log-storage-path
         spec:
           storageClassName: {{ STORAGE_CLASS_LARGE_BLOCK }}
           accessModes:
             - ReadWriteOnce
           resources:
             requests:
               storage: 20Gi
       - name: snapshot-storage-path
         spec:
           storageClassName: {{ STORAGE_CLASS_LARGE_BLOCK }}
           accessModes:
             - ReadWriteOnce
           resources:
             requests:
               storage: 20Gi