apiVersion: "zookeeper.pravega.io/v1beta1"
kind: "ZookeeperCluster"
metadata:
  name: "instana-zookeeper-clickhouse"
  namespace: instana-datastores
spec:
  # For parameters and default values, see https://github.com/pravega/zookeeper-operator/tree/master/charts/zookeeper#configuration
  replicas: {{current_feature.instana_backend_scale  | default(3)}}
  image:
    repository: artifact-public.instana.io/self-hosted-images/3rd-party/datastore/zookeeper
    tag: 3.9.3_v0.16.0
  pod:
    imagePullSecrets: [name: "instana-registry"]
    serviceAccount: "zookeeper-operator"
    serviceAccountName: "zookeeper-operator"
    # Add the following securityContext snippet for Kubernetes offerings other than OCP.
    # securityContext:
    #   runAsUser: 1000
    #   fsGroup: 1000
  config:
    tickTime: 2000
    initLimit: 10
    syncLimit: 5
    maxClientCnxns: 0
    autoPurgeSnapRetainCount: 20
    autoPurgePurgeInterval: 1
  persistence:
    storageClassName: {{ STORAGE_CLASS_LARGE_BLOCK }}
    reclaimPolicy: Delete
    spec:
      resources:
        requests:
          storage: "10Gi"
