{% load static %}
{% include "demouiapp/_header.html" %}
<div role="main" class="container theme-showcase">
    <div class="jumbotron container">
        <center>

            <table style="width:90%; padding-left:50px;">
                <tbody>

                    <tr>

                        <td style="width:90%; padding-left:50px;">

                            <div style="  background-color:#ecf0fe; padding: 40px; margin: 0px;">

                                <div role="main" class="container theme-showcase">
                                    <div class="jumbotron container">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td style="width:90%; padding-left:50px;">

                                                        <p></p>
                                                        <p style="font-size:40px;">IBM AIOps Demo UI</p>
                                                        <p style="font-size:14px;">Container Image: {{DEMO_IMAGE}}</p>
                                                        <p style="font-size:14px;">Build Date: {{mod_time_readable}}</p>

                                                        <p><BR></p>
                                                        <p style="font-size:20px;">A Simple way to generate Incidents
                                                            for IBM CloudPak for AIOps.
                                                        </p>
                                                        <p><BR></p>
                                                        <blockquote>
                                                            <p>Source code is <a target="_blank"
                                                                    href="https://github.com/niklaushirt/ibm-aiops-deployer/tree/main/tools/97_addons/ibm-aiops-demo-ui">here</a>
                                                                if you want to
                                                                mess around a bit.</p>
                                                        </blockquote>
                                                        <p><BR></p>
                                                        <h4>🚀 © 2024 Niklaus Hirt (nikh@ch.ibm.com)</h5>
                                                            <p></p>
                                                            <p></p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                </p>
                                <p></p>
                                <p></p>
                        </td>
                    </tr>

                </tbody>
            </table>
        </center>
    </div>
</div>



<BR>

{% if CONTACT_INFO.strip %}

<div role="main" class="container theme-showcase">
    <div class="jumbotron container">
        <center>

            <table style="width:90%; padding-left:50px;">
                <tbody>

                    <tr>

                        <td style="width:90%; padding-left:50px;">

                            <div style="  background-color:#ecf0fe; padding: 40px; margin: 0px;">

                                <div role="main" class="container theme-showcase">
                                    <div class="jumbotron container">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td style="width:90%; padding-left:50px;">
                                                        {{CONTACT_INFO|safe}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                </p>
                                <p></p>
                                <p></p>
                        </td>
                    </tr>

                </tbody>
            </table>
        </center>
    </div>
</div>
{% endif %}



{% if hasCustomScenario > 1 %}
<BR>
<BR>
<BR>
<div role="main" class="container theme-showcase">
    <div class="jumbotron container">
        <center>

            <table style="width:90%; padding-left:50px;">
                <tbody>

                    <tr>

                        <td style="width:90%; padding-left:50px;">

                            <div style="  background-color:#ecf0fe; padding: 40px; margin: 0px;">

                                <div role="main" class="container theme-showcase">
                                    <div class="jumbotron container">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td style="width:90%; padding-left:50px;"><BR><BR>
                                                        <HR>
                                                        CUSTOM_NAME<BR>
                                                        {{CUSTOM_NAME|safe}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:90%; padding-left:50px;"><BR><BR>
                                                        <HR>
                                                        CUSTOM_EVENTS<BR>
                                                        {{CUSTOM_EVENTS|safe}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:90%; padding-left:50px;"><BR><BR>
                                                        <HR>
                                                        CUSTOM_METRICS<BR>
                                                        {{CUSTOM_METRICS|safe}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:90%; padding-left:50px;"><BR><BR>
                                                        <HR>
                                                        CUSTOM_LOGS<BR>
                                                        {{CUSTOM_LOGS|safe}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:90%; padding-left:50px;"><BR><BR>
                                                        <HR>
                                                        CUSTOM_TOPOLOGY<BR>
                                                        {{CUSTOM_TOPOLOGY|safe}}
                                                    </td>
                                                </tr>
                                    </div>

                                    </p>
                                    <p></p>
                                    <p></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 259px; vertical-align:top">
                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                <a target="_blank" tabindex="0"
                                    class="bx--btn bx--btn--primary bx--btn--expressive"
                                    style="font-size: 18px;max-width:450px;width:350px;"
                                    onclick="toggle(this)" data-arg1='injectAllREST'>Reload Topology
                                    <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                        aria-label="Table" aria-hidden="true" width="20" height="20"
                                        viewBox="0 0 32 32" role="img" class="bx--btn__icon">
                                        <path
                                            d="M29,5a2,2,0,0,0-2-2H5A2,2,0,0,0,3,5V27a2,2,0,0,0,2,2H27a2,2,0,0,0,2-2ZM27,5V9H5V5Zm0,22H5V23H27Zm0-6H5V17H27Zm0-6H5V11H27Z">
                                        </path>
                                    </svg>

                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>
</div>
{% endif %}



{% include "demouiapp/_footer.html" %}