{% load static %}
{% include "demouiapp/_header.html" %}
<center>
    <div hidden id="mydiv" class="alert alert-success" role="alert"
        style="min-height:100px; min-width: 700px; background-color: rgb(228, 252, 233); padding:10px; margin: 20px; margin-left: 250px; border-style:solid; border-color:rgb(0, 182, 39);border-width: 1px;">
        <h4 class="alert-heading">🚀 Running!</h4>
        <br />
        <p>Operation will continue running in the background.</p>
    </div>
</center>

<div role="main-panel" id="main-panel" class="container theme-showcase">
    <div class="jumbotron container">
        <table>
            <tbody>
                <tr>
                    <td style="width:90%; padding-left:50px;">
                        <div style="  background-color:#f2fff2; padding: 40px; margin: 20px;">

                            <script>
                                let toggle = button => {
                                    let element = document.getElementById("mydiv");
                                    let elementMain = document.getElementById("main-panel");
                                    let arg1 = event.target.getAttribute('data-arg1');
                                    element.removeAttribute("hidden");
                                    elementMain.setAttribute("hidden", "hidden");
                                    button.innerText = "Running";
                                    window.open(arg1, "_self");
                                }
                            </script>

                            {% if SIMULATION_MODE == 'true' %}
                            <p style="font-size:35px;">🚀 Create Live Incidents for RobotShop</p>
                            <br />


                            <table cellspacing="0" cellpadding="0" style="width: 1500px; table-layout: fixed">
                                <tbody>


                                    <tr>
                                        <td style="width: 33%; vertical-align:top">
                                            <p style="font-size:20px;">🔥 RobotShop Incident - Memory Problem </p>
                                            <p>&nbsp;</p>
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td style="width: 33%; vertical-align:top">
                                            <p style="font-size:20px;">🔥 RobotShop Incident - Fan Failure</a>
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td style="width: 33%; vertical-align:top">
                                            <p style="font-size:20px;">🔥 RobotShop Incident - Network Failure</a>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td style="width: 30%; vertical-align:top">

                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--red bx--btn--expressive"
                                                    style="font-size: 18px;max-width:450px;width:400px;"
                                                    onclick="toggle(this)" data-arg1='injectAllREST'>
                                                    RobotShop Incident - Memory Problem <svg focusable="false"
                                                        preserveAspectRatio="xMidYMid meet"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        aria-label="Table" aria-hidden="true" width="20" height="20"
                                                        viewBox="0 0 32 32" role="img" class="bx--btn__icon">
                                                        <path
                                                            d="M29,5a2,2,0,0,0-2-2H5A2,2,0,0,0,3,5V27a2,2,0,0,0,2,2H27a2,2,0,0,0,2-2ZM27,5V9H5V5Zm0,22H5V23H27Zm0-6H5V17H27Zm0-6H5V11H27Z">
                                                        </path>
                                                    </svg>

                                                </a>
                                            </div>
                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--green bx--btn--expressive"
                                                    style="font-size: 18px;max-width:450px;width:400px;"
                                                    onclick="toggle(this)" data-arg1='clearAllREST'>
                                                    Clear Incidents and Events <svg focusable="false"
                                                        preserveAspectRatio="xMidYMid meet"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        aria-hidden="true" width="32" height="32" viewBox="0 0 32 32"
                                                        class="bx--btn__icon">
                                                        <path d="M12 12H14V24H12zM18 12H20V24H18z"></path>
                                                        <path
                                                            d="M4 6V8H6V28a2 2 0 002 2H24a2 2 0 002-2V8h2V6zM8 28V8H24V28zM12 2H20V4H12z">
                                                        </path>
                                                    </svg>

                                                </a>
                                            </div>


                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td style="width: 30%; vertical-align:top">


                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--red bx--btn--expressive"
                                                    style="font-size: 18px;max-width:450px;width:400px;"
                                                    onclick="toggle(this)" data-arg1='injectAllFanREST'>
                                                    RobotShop Incident - Fan Failure <svg focusable="false"
                                                        preserveAspectRatio="xMidYMid meet"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        aria-label="Table" aria-hidden="true" width="20" height="20"
                                                        viewBox="0 0 32 32" role="img" class="bx--btn__icon">
                                                        <path
                                                            d="M29,5a2,2,0,0,0-2-2H5A2,2,0,0,0,3,5V27a2,2,0,0,0,2,2H27a2,2,0,0,0,2-2ZM27,5V9H5V5Zm0,22H5V23H27Zm0-6H5V17H27Zm0-6H5V11H27Z">
                                                        </path>
                                                    </svg>

                                                </a>
                                            </div>
                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--green bx--btn--expressive"
                                                    style="font-size: 18px;max-width:450px;width:400px;"
                                                    onclick="toggle(this)" data-arg1='clearAllREST'>
                                                    Clear Incidents and Events <svg focusable="false"
                                                        preserveAspectRatio="xMidYMid meet"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        aria-hidden="true" width="32" height="32" viewBox="0 0 32 32"
                                                        class="bx--btn__icon">
                                                        <path d="M12 12H14V24H12zM18 12H20V24H18z"></path>
                                                        <path
                                                            d="M4 6V8H6V28a2 2 0 002 2H24a2 2 0 002-2V8h2V6zM8 28V8H24V28zM12 2H20V4H12z">
                                                        </path>
                                                    </svg>

                                                </a>
                                            </div>

                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td style="width: 30%; vertical-align:top">


                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--red bx--btn--expressive"
                                                    style="font-size: 18px;max-width:450px;width:400px;"
                                                    onclick="toggle(this)" data-arg1='injectAllNetREST'>
                                                    RobotShop Incident - Network Failure <svg focusable="false"
                                                        preserveAspectRatio="xMidYMid meet"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        aria-label="Table" aria-hidden="true" width="20" height="20"
                                                        viewBox="0 0 32 32" role="img" class="bx--btn__icon">
                                                        <path
                                                            d="M29,5a2,2,0,0,0-2-2H5A2,2,0,0,0,3,5V27a2,2,0,0,0,2,2H27a2,2,0,0,0,2-2ZM27,5V9H5V5Zm0,22H5V23H27Zm0-6H5V17H27Zm0-6H5V11H27Z">
                                                        </path>
                                                    </svg>

                                                </a>
                                            </div>
                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--green bx--btn--expressive"
                                                    style="font-size: 18px;max-width:450px;width:400px;"
                                                    onclick="toggle(this)" data-arg1='clearAllREST'>
                                                    Clear Incidents and Events <svg focusable="false"
                                                        preserveAspectRatio="xMidYMid meet"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        aria-hidden="true" width="32" height="32" viewBox="0 0 32 32"
                                                        class="bx--btn__icon">
                                                        <path d="M12 12H14V24H12zM18 12H20V24H18z"></path>
                                                        <path
                                                            d="M4 6V8H6V28a2 2 0 002 2H24a2 2 0 002-2V8h2V6zM8 28V8H24V28zM12 2H20V4H12z">
                                                        </path>
                                                    </svg>

                                                </a>
                                            </div>

                                        </td>
                                        <td width="10px">
                                            &nbsp;
                                        </td>

                                    </tr>
                                    <tr>
                                        <td
                                            style="width: 30%; vertical-align:middle; background-color: rgb(255, 198, 198); padding:10px; margin: 20px;">
                                            <p style="font-size:16px;">Create Incident simulating a Git Commit for the
                                                Robotshop
                                                Application.</p>
                                            <p style="font-size:16px;">Creates Events and Log and Metric Anomalies,
                                                linked to ServiceNow
                                                Incidents and Ansible Runbooks for the mysql component of the
                                                application.</p>
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td
                                            style="width: 30%; vertical-align:middle; background-color: rgb(255, 198, 198); padding:10px; margin: 20px;">
                                            <p style="font-size:16px;">Create Incident simulating a Datacenter Fan
                                                Failure leading to a VM failure and the mysql database being unavailable.</p>
                                            <p style="font-size:16px;">Creates Events and Log and Metric Anomalies,
                                                linked to ServiceNow
                                                Incidents and Ansible Runbooks for the mysql database component of the
                                                application.</p>
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td
                                            style="width: 30%; vertical-align:middle; background-color: rgb(255, 198, 198); padding:10px; margin: 20px;">
                                            <p style="font-size:16px;">Create Incident simulating a Datacenter Switch
                                                Failure leading to a mysql Pod being unavailable.</p>
                                            <p style="font-size:16px;">Creates Events and Log and Metric Anomalies,
                                                linked to ServiceNow
                                                Incidents and Ansible Runbooks for the mysql component of the
                                                application.</p>
                                        </td>
                                        <td width="50px">
                                            &nbsp;
                                        </td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>




                <tr>
                    <td style="width:90%; padding-left:50px;">
                        <div style="  background-color:#f2fff2; padding: 40px; margin: 20px;">


                            <p style="font-size:35px;">🚀 Create Live Incidents for SockShop</p>
                            <br />
                            <table cellspacing="0" cellpadding="0" style="width: 1500px; table-layout: fixed">
                                <tbody>


                                    <tr>
                                        <td style="width: 33%; vertical-align:top">
                                            <p style="font-size:20px;">🔥 ACME Incident - Fan Failure </p>
                                            <p>&nbsp;</p>
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>


                                    </tr>
                                    <tr>
                                        <td style="width: 30%; vertical-align:top">

                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--red bx--btn--expressive"
                                                    style="font-size: 18px;max-width:450px;width:400px;"
                                                    onclick="toggle(this)" data-arg1='injectAllNetSOCKREST'>
                                                    SockShop Incident - Network Failure <svg focusable="false"
                                                        preserveAspectRatio="xMidYMid meet"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        aria-label="Table" aria-hidden="true" width="20" height="20"
                                                        viewBox="0 0 32 32" role="img" class="bx--btn__icon">
                                                        <path
                                                            d="M29,5a2,2,0,0,0-2-2H5A2,2,0,0,0,3,5V27a2,2,0,0,0,2,2H27a2,2,0,0,0,2-2ZM27,5V9H5V5Zm0,22H5V23H27Zm0-6H5V17H27Zm0-6H5V11H27Z">
                                                        </path>
                                                    </svg>

                                                </a>
                                            </div>
                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--green bx--btn--expressive"
                                                    style="font-size: 18px;max-width:450px;width:400px;"
                                                    onclick="toggle(this)" data-arg1='clearAllREST'>
                                                    Clear Incidents and Events <svg focusable="false"
                                                        preserveAspectRatio="xMidYMid meet"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        aria-hidden="true" width="32" height="32" viewBox="0 0 32 32"
                                                        class="bx--btn__icon">
                                                        <path d="M12 12H14V24H12zM18 12H20V24H18z"></path>
                                                        <path
                                                            d="M4 6V8H6V28a2 2 0 002 2H24a2 2 0 002-2V8h2V6zM8 28V8H24V28zM12 2H20V4H12z">
                                                        </path>
                                                    </svg>

                                                </a>
                                            </div>


                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>

                                        <td width="10px">
                                            &nbsp;
                                        </td>

                                    </tr>
                                    <tr>
                                        <td
                                            style="width: 30%; vertical-align:middle; background-color: rgb(255, 198, 198); padding:10px; margin: 20px;">
                                            <p style="font-size:16px;">Create Incident simulating a Datacenter Switch
                                                Failure leading to the Catalogue DB Pod being unavailable.</p>
                                            <p style="font-size:16px;">Creates Events and Metric Anomalies,
                                                linked to ServiceNow
                                                Incidents and Ansible Runbooks for the catalogue-db component of the
                                                application.</p>
                                        </td>

                                        <td width="50px">
                                            &nbsp;
                                        </td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>



                <tr>
                    <td style="width:90%; padding-left:50px;">
                        <div style="  background-color:#f2fff2; padding: 40px; margin: 20px;">


                            <p style="font-size:35px;">🚀 Create Live Incidents for ACME</p>
                            <br />
                            <table cellspacing="0" cellpadding="0" style="width: 1500px; table-layout: fixed">
                                <tbody>


                                    <tr>
                                        <td style="width: 33%; vertical-align:top">
                                            <p style="font-size:20px;">🔥 ACME Incident - Fan Failure </p>
                                            <p>&nbsp;</p>
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>


                                    </tr>
                                    <tr>
                                        <td style="width: 30%; vertical-align:top">

                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--red bx--btn--expressive"
                                                    style="font-size: 18px;max-width:450px;width:400px;"
                                                    onclick="toggle(this)" data-arg1='injectAllFanACMEREST'>
                                                    ACME Incident - Fan Failure <svg focusable="false"
                                                        preserveAspectRatio="xMidYMid meet"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        aria-label="Table" aria-hidden="true" width="20" height="20"
                                                        viewBox="0 0 32 32" role="img" class="bx--btn__icon">
                                                        <path
                                                            d="M29,5a2,2,0,0,0-2-2H5A2,2,0,0,0,3,5V27a2,2,0,0,0,2,2H27a2,2,0,0,0,2-2ZM27,5V9H5V5Zm0,22H5V23H27Zm0-6H5V17H27Zm0-6H5V11H27Z">
                                                        </path>
                                                    </svg>

                                                </a>
                                            </div>
                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--green bx--btn--expressive"
                                                    style="font-size: 18px;max-width:450px;width:400px;"
                                                    onclick="toggle(this)" data-arg1='clearAllREST'>
                                                    Clear Incidents and Events <svg focusable="false"
                                                        preserveAspectRatio="xMidYMid meet"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        aria-hidden="true" width="32" height="32" viewBox="0 0 32 32"
                                                        class="bx--btn__icon">
                                                        <path d="M12 12H14V24H12zM18 12H20V24H18z"></path>
                                                        <path
                                                            d="M4 6V8H6V28a2 2 0 002 2H24a2 2 0 002-2V8h2V6zM8 28V8H24V28zM12 2H20V4H12z">
                                                        </path>
                                                    </svg>

                                                </a>
                                            </div>


                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>

                                        <td width="10px">
                                            &nbsp;
                                        </td>

                                    </tr>
                                    <tr>
                                        <td
                                            style="width: 30%; vertical-align:middle; background-color: rgb(255, 198, 198); padding:10px; margin: 20px;">
                                            <p style="font-size:16px;">Create Incident simulating a Datacenter Fan
                                                Failure leading to a VM failure and the Booking DB being unavailable.</p>
                                            <p style="font-size:16px;">Creates Events and Metric Anomalies,
                                                linked to ServiceNow
                                                Incidents and Ansible Runbooks for the acme-booking-db component of the
                                                application.</p>
                                        </td>

                                        <td width="50px">
                                            &nbsp;
                                        </td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>




                <tr>
                    <td style="width:90%; padding-left:50px;">
                        <div style="  background-color:#f2fff2; padding: 40px; margin: 20px;">


                            <p style="font-size:35px;">🚀 Create Live Incidents for London Underground</p>
                            <br />
                            <table cellspacing="0" cellpadding="0" style="width: 1500px; table-layout: fixed">
                                <tbody>


                                    <tr>
                                        <td style="width: 33%; vertical-align:top">
                                            <p style="font-size:20px;">🔥 Create Incident - Fire Alert at Mile End  </p>
                                            <p>&nbsp;</p>
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>


                                    </tr>
                                    <tr>
                                        <td style="width: 30%; vertical-align:top">

                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--red bx--btn--expressive"
                                                    style="font-size: 18px;max-width:450px;width:400px;"
                                                    onclick="toggle(this)" data-arg1='injectAllTUBEREST'>
                                                    Create Incident - London Underground <svg focusable="false"
                                                        preserveAspectRatio="xMidYMid meet"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        aria-label="Table" aria-hidden="true" width="20" height="20"
                                                        viewBox="0 0 32 32" role="img" class="bx--btn__icon">
                                                        <path
                                                            d="M29,5a2,2,0,0,0-2-2H5A2,2,0,0,0,3,5V27a2,2,0,0,0,2,2H27a2,2,0,0,0,2-2ZM27,5V9H5V5Zm0,22H5V23H27Zm0-6H5V17H27Zm0-6H5V11H27Z">
                                                        </path>
                                                    </svg>

                                                </a>
                                            </div>
                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--green bx--btn--expressive"
                                                    style="font-size: 18px;max-width:450px;width:400px;"
                                                    onclick="toggle(this)" data-arg1='clearAllREST'>
                                                    Clear Incidents and Events <svg focusable="false"
                                                        preserveAspectRatio="xMidYMid meet"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        aria-hidden="true" width="32" height="32" viewBox="0 0 32 32"
                                                        class="bx--btn__icon">
                                                        <path d="M12 12H14V24H12zM18 12H20V24H18z"></path>
                                                        <path
                                                            d="M4 6V8H6V28a2 2 0 002 2H24a2 2 0 002-2V8h2V6zM8 28V8H24V28zM12 2H20V4H12z">
                                                        </path>
                                                    </svg>

                                                </a>
                                            </div>


                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>

                                        <td width="10px">
                                            &nbsp;
                                        </td>

                                    </tr>
                                    <tr>
                                        <td
                                            style="width: 30%; vertical-align:middle; background-color: rgb(255, 198, 198); padding:10px; margin: 20px;">
                                            <p style="font-size:16px;">Create Incident simulating a Fire Alert at Mile End Tube Station.</p>
                                            <p style="font-size:16px;">Creates Events that are mapped to the London Underground Stations.</p>
                                        </td>

                                        <td width="50px">
                                            &nbsp;
                                        </td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="width:90%; padding-left:50px;">
                        <div style="  background-color:#f2fff2; padding: 40px; margin: 20px;">


                            <p style="font-size:35px;">🚀 Create Live Incidents for Instana</p>
                            <br />
                            <table cellspacing="0" cellpadding="0" style="width: 1500px; table-layout: fixed">
                                <tbody>


                                    <tr>
                                        <td style="width: 33%; vertical-align:top">
                                            <p style="font-size:20px;">🔥 Create Incident - Ratings/MySQL and Users </p>
                                            <p>&nbsp;</p>
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>


                                    </tr>
                                    <tr>
                                        <td style="width: 30%; vertical-align:top">

                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--red bx--btn--expressive"
                                                    style="font-size: 18px;max-width:450px;width:400px;"
                                                    onclick="toggle(this)" data-arg1='instanaCreateIncident'>
                                                    Create Incident - Instana <svg focusable="false"
                                                        preserveAspectRatio="xMidYMid meet"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        aria-label="Table" aria-hidden="true" width="20" height="20"
                                                        viewBox="0 0 32 32" role="img" class="bx--btn__icon">
                                                        <path
                                                            d="M29,5a2,2,0,0,0-2-2H5A2,2,0,0,0,3,5V27a2,2,0,0,0,2,2H27a2,2,0,0,0,2-2ZM27,5V9H5V5Zm0,22H5V23H27Zm0-6H5V17H27Zm0-6H5V11H27Z">
                                                        </path>
                                                    </svg>

                                                </a>
                                            </div>
                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--green bx--btn--expressive"
                                                    style="font-size: 18px;max-width:450px;width:400px;"
                                                    onclick="toggle(this)" data-arg1='instanaMitigateIncident'>
                                                    Mitigate Incident - Instana <svg focusable="false"
                                                        preserveAspectRatio="xMidYMid meet"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        aria-hidden="true" width="32" height="32" viewBox="0 0 32 32"
                                                        class="bx--btn__icon">
                                                        <path d="M12 12H14V24H12zM18 12H20V24H18z"></path>
                                                        <path
                                                            d="M4 6V8H6V28a2 2 0 002 2H24a2 2 0 002-2V8h2V6zM8 28V8H24V28zM12 2H20V4H12z">
                                                        </path>
                                                    </svg>

                                                </a>
                                            </div>


                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>

                                        <td width="10px">
                                            &nbsp;
                                        </td>

                                    </tr>
                                    <tr>
                                        <td
                                            style="width: 30%; vertical-align:middle; background-color: rgb(255, 198, 198); padding:10px; margin: 20px;">
                                            <p style="font-size:16px;">Create Incident simulating an outage
                                                Robotshop
                                                Application.</p>
                                            <p style="font-size:16px;">Disables access from Ratings to the MySQL DB and
                                                injects errors into User.</p>
                                        </td>

                                        <td width="50px">
                                            &nbsp;
                                        </td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>


        {% else %}
        <p> </p>
        <p> </p>
        <p> </p>

        <table width="300" cellspacing="0" cellpadding="0" style="width: 1100px; table-layout: fixed">
            <tbody>
                <tr>
                    <td colspan="2">
                        <p>You cannot simulate incidents on this system.</p>
                        <p>Please use the existing incidents for demo purposes.</p>
                    </td>
                </tr>
            </tbody>
        </table>

        {% endif %}

    </div>
</div>





















        </tbody>
        </table>
    </div>
</div>
{% include "demouiapp/_footer.html" %}