{% load static %}
{% include "demouiapp/_header.html" %}

<center>
    <div hidden id="mydiv" class="alert alert-success" role="alert"
        style="min-height:100px; min-width: 700px; background-color: rgb(228, 252, 233); padding:10px; margin: 20px; margin-left: 250px; border-style:solid; border-color:rgb(0, 182, 39);border-width: 1px;">
        <h4 class="alert-heading">🚀 Running!</h4>
        <br />
        <p>Operation will continue running in the background.</p>
    </div>
</center>

<div id="main-panel" role="main" class="container theme-showcase">
    <div class="jumbotron container">
        <table>
            <tbody>
                <tr>

                    <td style="width:90%; padding-left:50px;">
                        <script>
                            let toggle = button => {
                                let element = document.getElementById("mydiv");
                                let elementMain = document.getElementById("main-panel");
                                let arg1 = event.target.getAttribute('data-arg1');
                                element.removeAttribute("hidden");
                                elementMain.setAttribute("hidden", "hidden");
                                button.innerText = "Running";
                                window.open(arg1, "_self");
                            }
                        </script>





                        <div style="  background-color:#f2f7ff; padding: 20px; margin: 5px">
                            <table cellspacing="0" cellpadding="0" style="width: 1500px; table-layout: fixed;">
                                <tbody>
                                    <tr>
                                        <td colspan="2" style="width: 30%; vertical-align:top">
                                            <p style="font-size:35px;">🌏 Access IBMAIOps </p>
                                            <p> &nbsp;</p>
                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--primary bx--btn--expressive"
                                                    href="https://{{ aimanager_url }}"
                                                    style="width:200px;font-size: 18px;">IBMAIOps
                                                    <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        aria-hidden="true" width="16" height="16" viewBox="0 0 16 16"
                                                        class="bx--btn__icon">
                                                        <path
                                                            d="M9.3 3.7L13.1 7.5 1 7.5 1 8.5 13.1 8.5 9.3 12.3 10 13 15 8 10 3z">
                                                        </path>
                                                    </svg>

                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            &nbsp;
                                        </td>
                                        <td>
                                        <td></td>
                                        &nbsp;
                                        <td colspan="2" style="width: 30%; vertical-align:top"></td>
                                    </tr>
                                    <tr>
                                        <td style="color:rgb(255, 255, 255);background-color: #08378e; padding:10px; margin: 20px;"
                                            colspan="2">
                                            <p style="font-size:18px;">👩‍💻&nbsp;&nbsp;{{ DEMO_USER }}
                                                &nbsp;&nbsp;&nbsp;&nbsp;</p>
                                            <p style="font-size:18px;">🔐&nbsp;&nbsp;{{ DEMO_PWD }}</p>
                                            <p></p>
                                            <p></p>
                                        </td>


                                        {% if ADMIN_MODE == 'true' %}
                                        <td>
                                            &nbsp;
                                        </td>
                                        <td style="color:rgb(255, 255, 255);background-color: rgb(55, 86, 131); padding:10px; margin-left: 20px;"
                                            colspan="2">
                                            <p style="font-size:18px;">👩‍💻&nbsp;&nbsp;{{ aimanager_user }}
                                                &nbsp;&nbsp;&nbsp;&nbsp;</p>
                                            <p style="font-size:18px;">🔐&nbsp;&nbsp;{{ aimanager_pwd }}</p>
                                            <p></p>
                                            <p></p>
                                        </td>
                                        {% else %}
                                        <td colspan="2">
                                            &nbsp;
                                        </td>
                                        {% endif %}
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <p></p>All other IBM AIOps Applications can be found <a href="apps">here</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        {% if SIMULATION_MODE == 'true' %}
                        <div style="  background-color:#f2fff5; padding: 20px; margin: 5px; margin-top: 20px;">
                            <p style="font-size:35px;">🚀 Create Live Incidents Demo</p>
                            <table cellspacing="0" cellpadding="0" style="width: 1100px; table-layout: fixed">
                                <tbody>
                                    <tr>
                                    </tr>
                                    <tr>
                                        <td style="width: 30%; vertical-align:top" colspan="3">
                                            <p style="font-size:25px;">Step1: Clear Incident</p>
                                            <p> &nbsp;</p>
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>

                                        <td style="width: 30%; vertical-align:top" colspan="5">
                                            <p style="font-size:25px;">Step2: Create Incident</p>
                                            <p> &nbsp;</p>
                                        </td>
                                    </tr>
                                    <p> &nbsp;</p>
                                    <tr>
                                        <td style="width: 259px; vertical-align:top">
                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--green bx--btn--expressive"
                                                    style="font-size: 18px;max-width:450px;width:350px;"
                                                    onclick="toggle(this)" data-arg1='clearAllREST'>Clear Incidents
                                                    and Events
                                                    <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        aria-hidden="true" width="32" height="32" viewBox="0 0 32 32"
                                                        class="bx--btn__icon">
                                                        <path d="M12 12H14V24H12zM18 12H20V24H18z"></path>
                                                        <path
                                                            d="M4 6V8H6V28a2 2 0 002 2H24a2 2 0 002-2V8h2V6zM8 28V8H24V28zM12 2H20V4H12z">
                                                        </path>
                                                    </svg>
                                                </a>
                                            </div>

                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td style="width: 259px; vertical-align:top">
                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--red bx--btn--expressive"
                                                    style="font-size: 18px;max-width:450px;width:350px;"
                                                    onclick="toggle(this)" data-arg1='injectAllREST'>RobotShop
                                                    - Memory Problem
                                                    <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        aria-label="Table" aria-hidden="true" width="20" height="20"
                                                        viewBox="0 0 32 32" role="img" class="bx--btn__icon">
                                                        <path
                                                            d="M29,5a2,2,0,0,0-2-2H5A2,2,0,0,0,3,5V27a2,2,0,0,0,2,2H27a2,2,0,0,0,2-2ZM27,5V9H5V5Zm0,22H5V23H27Zm0-6H5V17H27Zm0-6H5V11H27Z">
                                                        </path>
                                                    </svg>

                                                </a>
                                            </div>
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td style="width: 259px; vertical-align:top">
                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--red bx--btn--expressive"
                                                    style="font-size: 18px;max-width:450px;width:350px;"
                                                    onclick="toggle(this)" data-arg1='injectAllNetSOCKREST'>SockShop -
                                                    Network Problem
                                                    <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        aria-label="Table" aria-hidden="true" width="20" height="20"
                                                        viewBox="0 0 32 32" role="img" class="bx--btn__icon">
                                                        <path
                                                            d="M29,5a2,2,0,0,0-2-2H5A2,2,0,0,0,3,5V27a2,2,0,0,0,2,2H27a2,2,0,0,0,2-2ZM27,5V9H5V5Zm0,22H5V23H27Zm0-6H5V17H27Zm0-6H5V11H27Z">
                                                        </path>
                                                    </svg>

                                                </a>
                                            </div>
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td style="width: 259px; vertical-align:top">
                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--red bx--btn--expressive"
                                                    style="font-size: 18px;max-width:450px;width:350px;"
                                                    onclick="toggle(this)" data-arg1='injectAllFanACMEREST'>ACME -
                                                    Server Fan Outage
                                                    <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        aria-label="Table" aria-hidden="true" width="20" height="20"
                                                        viewBox="0 0 32 32" role="img" class="bx--btn__icon">
                                                        <path
                                                            d="M29,5a2,2,0,0,0-2-2H5A2,2,0,0,0,3,5V27a2,2,0,0,0,2,2H27a2,2,0,0,0,2-2ZM27,5V9H5V5Zm0,22H5V23H27Zm0-6H5V17H27Zm0-6H5V11H27Z">
                                                        </path>
                                                    </svg>

                                                </a>
                                            </div>
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td style="width: 259px; vertical-align:top">
                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--red bx--btn--expressive"
                                                    style="font-size: 18px;max-width:450px;width:350px;"
                                                    onclick="toggle(this)" data-arg1='injectAllTUBEREST'>London Tube -
                                                    Fire Alert 
                                                    <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        aria-label="Table" aria-hidden="true" width="20" height="20"
                                                        viewBox="0 0 32 32" role="img" class="bx--btn__icon">
                                                        <path
                                                            d="M29,5a2,2,0,0,0-2-2H5A2,2,0,0,0,3,5V27a2,2,0,0,0,2,2H27a2,2,0,0,0,2-2ZM27,5V9H5V5Zm0,22H5V23H27Zm0-6H5V17H27Zm0-6H5V11H27Z">
                                                        </path>
                                                    </svg>

                                                </a>
                                            </div>
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 259px; vertical-align:top">
                                            <p>&nbsp;</p>
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td style="width: 259px; vertical-align:top">
                                            <p>&nbsp;</p>
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="max-width:450px;width:400px; vertical-align:top; background-color: rgb(228, 252, 233); padding:10px; margin: 20px;"
                                            colspan="3">
                                            <p style="font-size:16px;">Clear Incidents and Events to reset environment if
                                                needed . </p>
                                            <p style="font-size:16px;">If you want all Incidents and Alerts to disappear
                                                you'll have to wait
                                                up
                                                to 10 minutes after clearing.</p>
                                        </td>
                                        <td width="40px">
                                            &nbsp;
                                        </td>
                                        <td style="width: 30%; vertical-align:top; background-color: rgb(255, 198, 198); padding:10px; margin: 20px;"
                                            colspan="5">
                                            <p style="font-size:16px;">Create Incident by simulating an error condition.
                                            </p>
                                            <p style="font-size:16px;">Creates Events and Log and Metric Anomalies,
                                                linked to ServiceNow
                                                Incidents and Ansible Runbooks.</p>
                                            <p>You can find more details on the <a href="apps_demo">Scenarios</a> Tab.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>



                        {% else %}
                        <p> </p>
                        <p> </p>
                        <p> </p>

                        <table width="300" cellspacing="0" cellpadding="0" style="width: 1100px; margin-left: 0px;">
                            <tbody>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td
                                        style="width: 30%; vertical-align:top; background-color: rgb(255, 198, 198); padding:20px; margin: 20px;">
                                        <p>❗ You cannot simulate incidents on this system.</p>
                                        <p>❗ Please use the existing incidents for demo purposes.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        {% endif %}
                        <p>&nbsp; </p>

                        <p></p>
                        <p></p>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% include "demouiapp/_footer.html" %}