apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: netcool-integrations-operator
  namespace: {{ current_ ibm-aiops_cluster.project }}
spec:
  channel: {{current_ ibm-aiops_feature.subscription_channel}}
  installPlanApproval: Automatic
  name: netcool-integrations-operator
  source: ibm-operator-catalog
  sourceNamespace: openshift-marketplace
