{% load static %}
<td style="width:10%; vertical-align:top">
    <p></p>
    <p></p>
    <hr>
    <p></p>
    <p>Home</p>
    <p> </p><b></b><a href="/demouiapp">Home</a>
    <p></p>
    <p></p>
    <hr>
    <p></p>
    <p>Details</p>
    <p></p><a href="apps">IBM AIOPS Apps</a>
    <p></p><a href="apps_additional">Third-Party Apps</a>
    {% if SIMULATION_MODE == 'true' %}
    <p></p><a href="apps_demo">Demo Content</a>
    {% endif %}
    {% if ADMIN_MODE == 'true' %}
    <p></p><a href="apps_system">System</a>
    {% endif %}
    <p></p>
    <p> </p>
    <hr>
    <p></p>
    <!-- <p>Configuration</p>
    <p></p><a href="config">Configuration</a>
    <p> </p>
    <hr>
    <p></p> -->
    <!-- <p>Endpoint</p>
    <p></p><a href="doc">Create Events and Log Anomalies</a>
    <p></p><a href="doc">Create Events</a>
    <p></p><a href="doc">Create Log Anomalies</a>
    <p></p>
    <p> </p>
    <hr> -->
    <p></p>

    <p>About</p>
    <p></p><a href="about">About</a>
</td>