{% load static %}
{% include "demouiapp/_header.html" %}
<div role="main" class="container theme-showcase">
    <div class="jumbotron container">
        <center>
        <table>
            <tbody>
                <tr>
                    <td style="width:90%; padding-left:50px;">

                        <div style="  background-color:#f2f7ff; padding: 40px; margin: 0px;">

                            <div role="main" class="container theme-showcase">
                                <div class="jumbotron container">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td style="width:90%; padding-left:50px;">

                                                    <p></p>
                                                    <p style="font-size:40px;">IBMAIOps Demo UI</p>
                                                    <p style="font-size:14px;">Image: {{DEMO_IMAGE}}</p>
                                                    <p style="font-size:14px;">Build Date: {{mod_time_readable}}</p>
                                                    
                                                    <p><BR></p>
                                                    <p style="font-size:20px;">A Simple way to generate Events and Log Anomalies for IBMAIOPS.
                                                    </p>
                                                    <p><BR></p>
                                                    <blockquote>
                                                        <p>Source code is <a target="_blank"
                                                                href="https://github.com/niklaushirt/ibm-aiops-deployer">here</a>
                                                            if you want to
                                                            mess around a bit.</p>
                                                    </blockquote>
                                                    <p><BR></p>
                                                    <h4>🚀 © 2023 Niklaus Hirt (nikh@ch.ibm.com)</h5>
                                                    <p></p>
                                                    <p></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            </p>
                            <p></p>
                            <p></p>
                    </td>
                </tr>
             
            </tbody>
        </table>
    </center>
    </div>
</div>
{% include "demouiapp/_footer.html" %}