{% load static %}
{% include "demouiapp/_header.html" %}
<div role="main" class="container theme-showcase">
    <div class="jumbotron container">
        <table>
            <tbody>

                {% if ADMIN_MODE == 'true' %}
                <tr>
                    <td style="width:90%; padding-left:50px;">
                        <div style="max-height: 100px;   background-color:#fbedc0; padding: 20px; margin: 5px;">
                            <table cellspacing="0" cellpadding="0" style="width: 1500px; table-layout: fixed; ">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a href="https://{{ vault_url }}" target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--orange bx--btn--expressive"
                                                    style="width:300px;font-size: 18px;">
                                                    Vault
                                                    <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" class="bx--btn__icon"><path d="M9.3 3.7L13.1 7.5 1 7.5 1 8.5 13.1 8.5 9.3 12.3 10 13 15 8 10 3z"></path></svg>
                                                </a>

                                            </div>
                                        </td>
                                        <td>🔐&nbsp;&nbsp;TOKEN: {{vault_token}}</td>

                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            &nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                {% endif %}


                <tr>
                    <td style="width:90%; padding-left:50px;">
                        <div style="max-height: 100px;   background-color:#fbedc0; padding: 20px; margin: 5px;">
                            <table cellspacing="0" cellpadding="0" style="width: 1500px; table-layout: fixed; ">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a href="https://{{ flink_url }}" target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--orange bx--btn--expressive"
                                                    style="width:300px;font-size: 18px;">
                                                    Flink Connectors
                                                    <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" class="bx--btn__icon"><path d="M9.3 3.7L13.1 7.5 1 7.5 1 8.5 13.1 8.5 9.3 12.3 10 13 15 8 10 3z"></path></svg>
                                                </a>                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>


                {% if flink_url_policy != '' %}
                <tr>
                    <td style="width:90%; padding-left:50px;">
                        <div style="max-height: 100px;   background-color:#fbedc0; padding: 20px; margin: 5px;">
                            <table cellspacing="0" cellpadding="0" style="width: 1500px; table-layout: fixed; ">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a href="https://{{ flink_url_policy }}" target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--orange bx--btn--expressive"
                                                    style="width:300px;font-size: 18px;">
                                                    Flink Policy Framework
                                                    <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" class="bx--btn__icon"><path d="M9.3 3.7L13.1 7.5 1 7.5 1 8.5 13.1 8.5 9.3 12.3 10 13 15 8 10 3z"></path></svg>
                                                </a>                                            </div>

                                        </td>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>

                {% endif %}
                {% if spark_url != '' %}

                <tr>
                    <td style="width:90%; padding-left:50px;">
                        <div style="max-height: 100px;   background-color:#fbedc0; padding: 20px; margin: 5px;">
                            <table cellspacing="0" cellpadding="0" style="width: 1500px; table-layout: fixed; ">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a href="http://{{ spark_url }}" target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--orange bx--btn--expressive"
                                                    style="width:300px;font-size: 18px;">
                                                    Spark
                                                    <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" class="bx--btn__icon"><path d="M9.3 3.7L13.1 7.5 1 7.5 1 8.5 13.1 8.5 9.3 12.3 10 13 15 8 10 3z"></path></svg>
                                                </a>                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% if ADMIN_MODE == 'true' %}

                <tr>
                    <td style="width:90%; padding-left:50px;">
                        <div style="max-height: 160px;  background-color:#fbedc0; padding: 20px; margin: 5px;">
                            <table cellspacing="0" cellpadding="0" style="width: 1500px;  ">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                                <a href="https://{{ openshift_url }}" target="_blank" tabindex="0"
                                                    class="bx--btn bx--btn--orange bx--btn--expressive"
                                                    style="width:300px;font-size: 18px;">
                                                    OpenShift
                                                    <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" class="bx--btn__icon"><path d="M9.3 3.7L13.1 7.5 1 7.5 1 8.5 13.1 8.5 9.3 12.3 10 13 15 8 10 3z"></path></svg>
                                                </a>                                            </div>
                                        </td>
                                        <td style="overflow: hidden; vertical-align:top;  padding:0px; padding-left:40px; margin: 0px; max-width: 800px;">oc login --server=https://{{ openshift_server }} --token={{ openshift_token }} </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% include "demouiapp/_footer.html" %}