{% load static %}
{% include "demouiapp/_header.html" %}
<div role="main" class="container theme-showcase">
    <div class="jumbotron container">
        <table>
            <tbody>
                <tr>
                    <td style="width:90%; padding-left:50px;">

                        <div style="  background-color:#f2f7ff; padding: 40px; margin: 20px;">

                            <div role="main" class="container theme-showcase">
                                <div class="jumbotron container">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td style="width:90%; padding-left:50px;">

                                                    <p></p>
                                                    <p style="font-size:20px;">This is the configuration information that you will need for the IBM AIOps Training</p>
                                                    </p>
                                                    <blockquote>
                                                        <p>The Training can be found here <a target="_blank"
                                                                href="https://niklaushirt.github.io/ ibm-aiops-training/">here</a></p>
                                                    </blockquote>
                                                   
                                                    <p></p>
                                                    <p></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            </p>
                            <p></p>
                            <p></p>
                    </td>
                </tr>
                <tr>
                    <td style="width:90%; padding-left:50px;line-height: normal;">

                        <div style="  background-color:#f2f7ff; padding: 40px; margin: 20px;">

                            <div role="main" class="container theme-showcase">
                                <div class="jumbotron container">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td style="width:90%; padding-left:50px;">

                                                    <p></p>
                                                    <p>{{ ALL_LOGINS|safe }}</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            </p>
                            <p></p>
                            <p></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% include "demouiapp/_footer.html" %}