{% load static %}
{% include "demouiapp/_header.html" %} 
    <div role="main" class="container theme-showcase">
        <div class="jumbotron container">
            <table>
                <tbody>
                    <tr>
                        <td style="width:10%; vertical-align:top">
                 
                            <p></p>
                        </td>
                        <td style="width:90%; padding-left:50px;">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
     
                            <p></p>
                            <p style="font-size:50px;">🔐 Please enter your Access Token</p>
                   
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                         
                            <form action="login" method="GET" id="loginform">
                                <input id="exampleFormControlInput1" type="password"
                                    name="token" required="" placeholder="my-token" class="form-control" style="font-size: 22px;" autocomplete="username"
                                    required autofocus>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                             
                                
                                <div style="padding-bottom: 1rem;" class="sc-ftTHYK jxfOQM">
                                    <a  tabindex="0"
                                        class="bx--btn bx--btn--primary bx--btn--expressive"
                                        href="#" onclick="document.getElementById('loginform').submit();" style="font-size: 18px;">Login
                                        <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" class="bx--btn__icon"><path d="M9.3 3.7L13.1 7.5 1 7.5 1 8.5 13.1 8.5 9.3 12.3 10 13 15 8 10 3z"></path></svg>
                                    </a>
                                </div>
                             
                            </form>
                            <p></p>
                            <p></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% include "demouiapp/_footer.html" %} 