apiVersion: "clickhouse.altinity.com/v1"
kind: "ClickHouseInstallation"
metadata:
  name: "instana"
spec:
  defaults:
    templates:
      dataVolumeClaimTemplate: instana-clickhouse-data-volume
      logVolumeClaimTemplate: instana-clickhouse-log-volume
  configuration:
    files:
      config.d/storage.xml: |
        <yandex>
          <storage_configuration>
            <disks>
              <default/>
            </disks>
            <policies>
              <logs_policy>
                <volumes>
                  <data>
                    <disk>default</disk>
                  </data>
                </volumes>
              </logs_policy>
            </policies>
          </storage_configuration>
        </yandex>
    clusters:
      - name: local
        templates:
          podTemplate: clickhouse
        layout:
          shardsCount: 1
          replicasCount: 2
    zookeeper:
      nodes:
        - host: instana-zookeeper-clickhouse-headless.instana-datastores
    profiles:
      default/max_memory_usage: 10000000000
      default/joined_subquery_requires_alias: 0
      default/max_execution_time: 100
      default/max_query_size: 1048576
      default/use_uncompressed_cache: 0
      default/load_balancing: random
      default/background_pool_size: 32
      default/background_schedule_pool_size: 32
    quotas:
      default/interval/duration: 3600
      default/interval/queries: 0
      default/interval/errors: 0
      default/interval/result_rows: 0
      default/interval/read_rows: 0
      default/interval/execution_time: 0
    users:
      default/networks/ip: "::/0"
      default/no_password: "" 
  templates:
    podTemplates:
      - name: clickhouse
        spec:
          containers:
            - name: instana-clickhouse
              image: artifact-public.instana.io/self-hosted-images/k8s/clickhouse:23.3.10.5-1-lts-ibm_v0.29.0
              #image: clickhouse/clickhouse-server:22.3
              command:
                - clickhouse-server
                - --config-file=/etc/clickhouse-server/config.xml
          imagePullSecrets:
            - name: clickhouse-image-secret  
          #serviceAccountName: clickhouse-operator 
    volumeClaimTemplates:
      - name: instana-clickhouse-data-volume
        spec:
          storageClassName: {{ AIOPS_STORAGE_CLASS_LARGE_BLOCK }}
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 100Gi
      - name: instana-clickhouse-log-volume
        spec:
          storageClassName: {{ AIOPS_STORAGE_CLASS_LARGE_BLOCK }}
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 20Gi






