apiVersion: "zookeeper.pravega.io/v1beta1"
kind: "ZookeeperCluster"
metadata:
  name: "instana-zookeeper-clickhouse"
  namespace: instana-datastores
spec:
  # For all params and defaults, see https://github.com/pravega/zookeeper-operator/tree/master/charts/zookeeper#configuration
  replicas: 1
  image:
    repository: artifact-public.instana.io/self-hosted-images/3rd-party/zookeeper
    tag: 3.8.3_v0.2.0
  pod:
    imagePullSecrets: [name: "instana-registry"]
    serviceAccountName: "zookeeper"
  config:
    tickTime: 2000
    initLimit: 10
    syncLimit: 5
    maxClientCnxns: 0
    autoPurgeSnapRetainCount: 20
    autoPurgePurgeInterval: 1
  persistence:
    storageClassName: {{ AIOPS_STORAGE_CLASS_LARGE_BLOCK }}
    reclaimPolicy: Delete
    spec:
      resources:
        requests:
          storage: "10Gi"
