---
apiVersion: batch/v1
kind: Job
metadata:
  name: load-snow-indexes
  namespace: ibm-aiops-installer
spec:
  serviceAccountName: demo-admin
  template:
    spec:
      containers:
        - name: load
          image: quay.io/niklaushirt/ibm-aiops-tools:2.0
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "64Mi"
              cpu: "150m"
            limits:
              memory: "2024Mi"
              cpu: "1200m"
          command:
            - /bin/sh
            - -c
            - |
              #!/bin/bash
              #set -x

              echo "*****************************************************************************************************************************"
              echo " ✅ STARTING: Load service now training files (>=4.1)"
              echo "*****************************************************************************************************************************"

              export TRAINING_REPO={{ current_ibmaiops_feature.training_data_url }}{{ current_ibmaiops_feature.training_data_repo }}.git
              echo "   ------------------------------------------------------------------------------------------------------------------------------"
              echo "    📥 Downloading service now training files from $TRAINING_REPO"
              echo "   ------------------------------------------------------------------------------------------------------------------------------"
              git clone $TRAINING_REPO

              echo "   ------------------------------------------------------------------------------------------------------------------------------"
              echo "    🚀 Starting Data Load"
              echo "   ------------------------------------------------------------------------------------------------------------------------------"
              cd {{ current_ibmaiops_feature.training_data_repo }}
              echo "------------------------------------------------------------------------------------------------------------------------------"
              echo "This Repo includes those latestet Commits"
              echo "------------------------------------------------------------------------------------------------------------------------------"
              git log|head -n 17
              echo ""
              echo ""

              ./training/load-snow-for-training.sh

              echo "*****************************************************************************************************************************"
              echo " ✅ DONE"
              echo "*****************************************************************************************************************************"

          env:
            - name: INDEX_OVERWRITE
              value : "false"
            - name: VERSION
              value : "latest"
      restartPolicy: Never

  backoffLimit: 500
