---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cockroach-data
  namespace: instana-datastores
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  storageClassName: {{ AIOPS_STORAGE_CLASS_FILE }}
  volumeMode: Filesystem
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cockroach-logs
  namespace: instana-datastores
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  storageClassName: {{ AIOPS_STORAGE_CLASS_FILE }}
  volumeMode: Filesystem
