apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: noi-operator-group
  namespace: {{current_ibm_feature.project}}
spec:
  targetNamespaces:
    - {{current_ibm_feature.project}}
