/* style.css
 * This file provides css styles.
 */



img {
	max-width: 150px;
}

.navbar-default {
	background-repeat: repeat-x;
	border-radius: 4px;
	background-color: #1a1a1a !important;
	background-image: -webkit-linear-gradient(top, #1a1a1a 0, #1a1a1a 100%);
	background-image: -o-linear-gradient(top, #1a1a1a 0, #1a1a1a 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1a1a1a), to(#1a1a1a));
	background-image: linear-gradient(to bottom, #1a1a1a 0, #1a1a1a 100%);
border: none;
}

.navbar-default .navbar-brand {
    color: rgb(216, 216, 216);
}