<h3>Fragment <%= title %></h3>
<% if (Object.keys(error).length !== 0) { %>
<div>Error <%= error.text %></div>
<% } %>
<div>AJAX</div>
<ul>
<% ajax.forEach((a) => { %>
<li><%= a %></li>
<% }); %>
</ul>
<div><img src="<%= image %>"></div>

