apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: awx
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: awx-xwqwm
  namespace: awx
spec:
  targetNamespaces:
    - awx
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: awx-operator
  namespace: awx
spec:
  channel: alpha
  installPlanApproval: Automatic
  name: awx-operator
  source: community-operators
  sourceNamespace: openshift-marketplace
  #startingCSV: awx-operator.v1.2.0
