<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="icon" type="image/png" href="images/duck.png">

    <title>Kubetoy Filesystem</title>
    <style>
        <% if( typeof background !== 'undefined' ) { %>
            body {
                background-image: url('images/<%= background %>.png');
            }
            .transparent {
                background:#7f7f7f;
                background:rgba(255,255,255,0.5);
            }
        <% } %>
    </style> 
</head>

<body>
<div class="container transparent">

<h1>Filesystem</h1>
<h6>Pod: <%= pod %></h6>

<p>
    <a href="home">home</a> | 
        <% if( filesystem ) { %><a href="files">filesystem</a> | <% } %> 
        <a href="config">config maps and secrets</a> | 
        <a href="network">networking</a> | 
        <a href="about.html">about</a>
</p>
<hr/>

	<form method="POST" action="files">
	  <div class="form-group">
	    <label for="filename">Filename</label>
	    <input type="text" class="form-control" name="filename" id="filename" aria-describedby="filenameHelp" placeholder="Filename">
	    <small id="filenameHelp" class="form-text text-muted">A text type of extension (eg. .txt) is suggested to enable browser viewing.</small>
	  </div>
	  <div class="form-group">
	    <label for="content">File contents</label>
	    <textarea class="form-control" name="content" id="content" rows="3"></textarea>
	  </div>
	  <button type="submit" class="btn btn-primary">Create file</button>
	
	</form>
	
	<div class="container">
	<h4>Existing files</h4>
	<ul class="list-group">
	
	<%
		for(var i=0;i<items.length;i++) {
	%>
	  <li class="list-group-item"><a href="show?f=<%=i%>"><%= items[i] %></a></li>
	<% } %>
	</ul>
	
	</div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
