<html>
<head>
<title>App Instance Crash</title>
<meta http-equiv="refresh" content="3; url=home" />
</head>
<body>
<pre>
      .--"--.
     /  RIP  \
     | <%=pod%> |
     |       |
   \\|_______|//
</pre>
<p><%=msg %>...</p>
</body>
</html>


