{% load static %}
<td style="width:10%; vertical-align:top">
    <h3>Navigation</h3>
    <p></p>
    <p></p>
    <hr>
    <p></p>
    <p>Home</p>
    <p> </p><b></b><a href="/webhookapp">Home</a>
    <p></p>
    <p></p>
    <hr>
    <p></p>
    <p>Documentation</p>
    <p></p><a href="doc">Documentation</a>
    <p></p>
    <p> </p>
    <hr>
    <p></p>
    <!-- <p>Configuration</p>
    <p></p><a href="config">Configuration</a>
    <p> </p>
    <hr>
    <p></p> -->
    <!-- <p>Endpoint</p>
    <p></p><a href="doc">Create Events and Log Anomalies</a>
    <p></p><a href="doc">Create Events</a>
    <p></p><a href="doc">Create Log Anomalies</a>
    <p></p>
    <p> </p>
    <hr> -->
    <p></p>

    <p>About</p>
    <p></p><a href="about">About</a>
</td>