{% load static %}
{% include "webhookapp/_header.html" %} 
    <div role="main" class="container theme-showcase">
        <div class="jumbotron container">
            <table>
                <tbody>
                    <tr>
                        {% include "webhookapp/_navbar.html" %}  
                        <td style="width:90%; padding-left:50px;">
                            <p style="font-size:2.5em;">IBM IBM AIOps</p>
                            <h1>🚀 Generic Webhook</h1>
                            <p></p>
                            
                            <p> </p>
                            <p> </p>
                            <p> </p>
                            <hr>
            
                            <p></p>
                            <p style="font-size:50px;"> 👽 About</p>
                            <p style="font-size:20px;">IBMAIOps Generic Webhook</p>
                            <p>A Simple way to inject generic webhook data into IBMAIOPS.</p>
                            <blockquote>
                                <p>Source code is included if you want to mess around a bit.</p>
                            </blockquote>
                            <h3>🚀 Provided by Niklaus Hirt (nikh@ch.ibm.com)</h3>
                            <p></p>
                            <p></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% include "webhookapp/_footer.html" %} 