cloudctl case save \
    --repo {{ current_ibmaiops_cluster.case_github_url }} \
    --case {{ current_ibmaiops_cluster.case_name }} \
    --version {{ current_ibmaiops_cluster.case_version }} \
    --outputdir {{ _case_dir }}