cloudctl case save \
    --repo {{ current_ ibm-aiops_feature.case_github_url }} \
    --case {{ current_ ibm-aiops_feature.case_name }} \
    --version {{ current_ ibm-aiops_feature.case_version }} \
    --outputdir {{ _case_dir }}